torch==1.8.1                # 利用可能なバージョンを指定
torchvision==0.9.1          # 画像変換と事前学習済みモデルのためのPyTorch visionライブラリ
transformers==4.12.3        # 最新の安定版バージョンを指定
Pillow==8.2.0               # 画像の読み込み、変換、保存のための画像処理ライブラリ
datasets                    # データセットの管理
sklearn                     # 機械学習のためのツール
sentencepiece               # トークナイザーのためのライブラリ