torch==2.0.0                # PyTorchの指定バージョン
transformers==4.38.0        # Hugging FaceのTransformersライブラリ
sentencepiece               # トークナイザーのためのライブラリ
accelerate                  # 分散トレーニング用ライブラリ
pandas                      # データ操作のためのライブラリ
